# Generated values are written by azd after provisioning.
AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=
FOUNDRY_RESOURCE_NAME=
PROJECT_NAME=smart-farm-project
FOUNDRY_ENDPOINT=
PROJECT_CONNECTION_STRING=
MODEL_DEPLOYMENT_NAME=gpt-5.4
APPLICATIONINSIGHTS_CONNECTION_STRING=
APPINSIGHTS_INSTRUMENTATION_KEY=
AZURE_EXPERIMENTAL_ENABLE_GENAI_TRACING=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
WORKFLOW_AGENT_NAME=
